* {
    margin: 0;
}

p {
    color: red;
    margin-bottom: .5em;
}

h1 {
    color: blue;
}

.destacado {
    color: green;
}

.borde-solido {
    border: 1px solid;
}

#segundo-parrafo {
    color: blueviolet;
}